{% extends "base.html" %}
{% load disks_extras %}
{% block title %}{{ album.title }}{% endblock %}
{% block search %}{% include 'disks/search_form.html' %}{% endblock %}
{% block top %}<h1>{{ album.title }} by {{ album.artist }}</h1>{% endblock %}
{% block content %}
    <table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Duration</td>
            <td>Size</td>
            <td>Price</td>
            <td>Composer</td>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{track.name}}</td>
                <td>{{track.milliseconds|duration}}</td>
                <td>{{ track.bytes }}</td>
                <td>{{ track.unitPrice }}</td>
                <td>{{ track.composer }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}