{% extends "base.html" %}
{% load disks_extras %}

{% block title %}{{ album.title }}{% endblock %}

{% block search %}{% include 'disks/search_form.html' %}{% endblock %}

{% block top %}{{ album.title }} by {{ album.artist }}{% endblock %}

{% block content %}
    <table class="table table-stripped">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Duration</strong></td>
            <td><strong>Size</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>Composer</strong></td>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{track.name}}</td>
                <td>{{track.milliseconds|duration}}</td>
                <td>{{ track.bytes }}</td>
                <td>{{ track.unitPrice }} $</td>
                <td>{{ track.composer }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}